html{
    background-color: #2f3e46;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
    width: 25%;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
/* .output{
    background-color: #588157;
    font-size: xx-large;
    border-radius: 10px;
    text-align: right;
    width: 100%;
} */
#output{
    width: 99%;
    height: 80px;
    border-radius: 10px;
    background-color:#588157;
    font-size: 40px;
}
#output::placeholder{
    color: white;
}
.output h1{
    margin-right: 3%;
}
.input{
    background-color:#588157;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns:repeat(4,1fr);
    color: #CAD2C5;
    width: 100%; 
    height: 500px;
    border-radius: 10px;
    gap: 0px;
}
.but{
    display: grid;
    place-items: center;
}
p{
    color: #CAD2C5;
}
.grid input{
    background-color: hsl(60, 56%, 91%);
    font-size: large;
}
#reset{
    grid-area:5/1/6/3;
}
#equal{
    grid-area:5/3/6/5;
}
.reset{
    background-color:#9a031e ;
}
.equal{
    background-color: #fb8b24;
}
body{
    display: grid;
    place-items: center;/
}
button{
    border-radius: 10%;
}
#calc{
    font-size: xx-large;
    color: #CAD2C5;
}
h1 :nth-child(2){
    text-align: center;
}
#DEL{
    background-color: #fb8b24;
}
.button{
    height:80%;
    color: #000000;
    font-size: 35px;
    border-radius: 15px;
    font-family:"Abril Fatface", serif;
    width: 80%;
    padding: 5px;
    border: solid 3px white;
}
.button:hover{
    background-color:#25a18e;
    cursor: pointer;
    color: #ccc;
}
.button:active{
    background-color: #2f3e46   ;
}
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #9a031e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #588157;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #588157;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
@media screen and (max-width: 600px) {
    section{
        margin-inline: 5%;
        width: 90%;
    }
    .align{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .input, .output{
        width: 100%;
    }
}
